<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <meta name="description" content="{{description}}" />
        <meta name="keywords" content="{{tags}}" />
        <meta name="author" content="{{author}}" />
        <meta name="generator" content="dnadesigned.dev build tools" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favs/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favs/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favs/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body class="font-mono text-base text-black bg-light-gray">
        {{{contents}}}
    </body>
</html>
